.index{
	width: 100%;
	padding: 0;
	margin: 0;
	margin: auto;
}

nav{
	background: #263238;
	width: 100%;
	margin: 0;
	padding: 0 15px;
}

.middle-cards p{
	display: block;
	margin-bottom: 30px !important;
}

.middle-cards{
	margin-top: 30px;
}


.parties .candidate{
	line-height: 40px!important;
}

.confirmation{
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

.thanks-message i{
	color: #4caf50;
	width: 20%;
	display: block;
	float: left;
}

.thanks-message p{
	font-size: 1.5em;
	font-weight: 600;
	float: left;
	display: block;
	width: 80%;
	margin-top: 30px;
}

